<div class="container">
    <div class="main-body">

        <br>
        <h1>Manage All Tickets</h1>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            <div *ngFor="let ticket of tickets" class="col mb-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/42/50/cf/4250cf3e0be36300f7f2db83c6827ca6.jpg" alt="Cover"
                        class="card-img-top">
                    <div class="card-body text-center">
                        <img src="https://cdn4.iconfinder.com/data/icons/tickets-1/512/ticket_tickets_sport_game_soocer_football-2-512.png"
                            style="margin-top:-65px" height="60px" width="60px" alt="Team"
                            class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                        <h5 class="card-title">{{ticket.home}} vs {{ticket.away}}</h5>
                        <p class="text-secondary mb-1">Price paid: ${{ticket.price}}</p>
                        <p class="text-muted font-size-sm">Location: {{ticket.home}} stadium</p>
                        <p class="text-muted font-size-sm">Date of event {{ticket.date}}</p>
                        <p class="text-muted font-size-sm">User that purchased: {{ticket.userid}}</p>
                       
                            <button type="button" class="btn btn-danger" (click)="Delete(ticket.id)">Delete Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Team Modal -->
<!-- <ng-template #content let-modal>
    <form>
      <div class="modal-header">
        <h4 class="modal-title" id="add" id="modal-basic-title">New Team</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name">Team Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" />
        <br>
        <label for="username">Location</label>
        <input type="text" class="form-control" [(ngModel)]="location" name="location" />
        <br>
        <label for="username">Image Url (Optional)</label>
        <input type="text" class="form-control" [(ngModel)]="imageurl" name="imageurl" />
        <br>
        <label for="username">Number of stadium seats</label>
        <input type="text" class="form-control" [(ngModel)]="nrseats" name="nrseats"/>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <div class="border text-center">
          <input type="submit" name="Add"  class="btn btn-primary" value="Add New Team" data-dismiss="modal" (click)="modal.close('Save click')" class="btn btn-success" (click)="onSubmit()"(click)="closeModal()" >
        </div>
      </div>
    </form>
  </ng-template> -->




<!-- Edit Team Modal -->
<!-- <ng-template #update let-modal>
    <form>
      <div class="modal-header">
        <h4 class="modal-title" id="edit" id="modal-basic-title">Update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name">Team Name</label>
        <input type="text" class="form-control" [(ngModel)]="uname" name="uname" />
        <br>
        <label for="username">Location</label>
        <input type="text" class="form-control" [(ngModel)]="ulocation" name="ulocation" />
        <br>
        <label for="username">Image Url (Optional)</label>
        <input type="text" class="form-control" [(ngModel)]="uimageurl" name="uimageurl" />
        <br>
        <label for="username">Number of stadium seats</label>
        <input type="text" class="form-control" [(ngModel)]="unrseats" name="unrseats"/>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        <div class="border text-center">
          <input type="submit" name="Add"  class="btn btn-primary" value="Edit" data-dismiss="modal" (click)="modal.close('Save click')" class="btn btn-success" (click)="onSubmitEdit()"(click)="closeModal()" >
        </div>
      </div>
    </form>
  </ng-template> -->